doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdn.bootcdn.net/ajax/libs/bootflat/2.0.4/css/bootflat.min.css")
        link(rel='stylesheet', href='https://cdn.bootcdn.net/ajax/libs/Swiper/7.0.0/swiper-bundle.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js') 
        script(src='https://cdn.bootcdn.net/ajax/libs/Swiper/7.0.0/swiper-bundle.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js')
        script(src='/javascripts/calendar.js') 

    body
        block content
